<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
    <div>
        <h1>Employees List</h1>
        <table>
            <thead>
                <tr>
                    <th>Employee First Name</th>
                    <th>Employee Last Name</th>
                    <th>Employee Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${listEmployees}">
                    <td th:text="${employee.first_name}"></td>
                    <td th:text="${employee.last_name}"></td>
                    <td th:text="${employee.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>